<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Event</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ae.css') }}">
</head>
<body>
  <div class ="title">PLANIFY</div>
  <div class="box">
    <h1>Add a New Event</h1>

    <!-- Display any error messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="flash {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- Form to add event -->
    <form method="POST" action="{{ url_for('addEvent') }}">
        <div class ="input-box">
          <input type="text" name="name" placeholder="Title" required>
        </div>
        <div class ="input-box">
            <input type="text" name="location" placeholder="Location" required>
        </div>
        <div class ="input-box">
          <input type="datetime-local" name="start_time" required>
        </div>
        <div class ="input-box">
          <input type="datetime-local" name="end_time" required>
        </div>
        <div class ="input-box">
            <input type="text" name="description" placeholder="Description" required>
        </div>


        <button type="submit" class="add">Add Event</button>
    </form>

    <br>
    <div class="link-section">
      <a href="{{ url_for('calendar') }}" class = "link">Back to Calendar</a>
    </div>
  </div>

</body>
</html>
