<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='download.css') }}">
    <title>Download Events</title>
</head>
<body>
    <div class ="title">PLANIFY</div>
    <div class="box">
        <h2>Download Your Events</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form action="/downloadEvents" method="POST">
            <label for="starting_time">Start Date & Time:</label>
            <input type="datetime-local" id="starting_time" name="starting_time" required><br><br>
            <label for="end_time">End Date & Time:</label>
            <input type="datetime-local" id="end_time" name="end_time" required><br><br>
            <button type="submit" class="download-btn">Download Events</button>
        </form>
        <div class = "link-section">
            <a href="{{ url_for('calendar') }}" class="link">Go Back</a>
        </div>
    </div>
</body>
</html>